.effective-search-admin {
  #effective-search-results {
    a {
      display: block;
      color: inherit;
      text-decoration: none;
    }

    span.badge {
      color: #1F2328;
      background-color: #EDEEEF;
    }
  }
}
