// This is the Search#index page
// This should be a div. The body tag also gets .effective-search on Search#index page only
div.effective-search {
  input#q_term {
    font-size: 1rem;
    background: #fff url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 28.5 28.5'%3E%3Cpath d='M76.063,73.639,69.6,67.178A12.009,12.009,0,1,0,67.178,69.6l6.461,6.461a1.717,1.717,0,0,0,2.424-2.424ZM51.428,60A8.57,8.57,0,1,1,60,68.567,8.57,8.57,0,0,1,51.428,60Z' transform='translate(-48 -48)' fill='%230058a4'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: calc(100% - 0.75rem) center !important;
  }

  .search-result {
    // mark { }
    // .search-title { }
    //.search-link { }
    //.search-body { }
  }
}

.search-result { margin-bottom: 2rem; }
.search-title { font-size: 1.5rem; margin-bottom: 0.25rem; }
.search-title a {  text-decoration: none;  }
.search-title a:hover { }
.search-link { display: block; margin-bottom: 0.25rem; }
.search-body { }


// The nav item search bar
.effective-search-nav-item {
  input {
    width: 250px;

    font-size: 1rem;
    background: #fff url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 28.5 28.5'%3E%3Cpath d='M76.063,73.639,69.6,67.178A12.009,12.009,0,1,0,67.178,69.6l6.461,6.461a1.717,1.717,0,0,0,2.424-2.424ZM51.428,60A8.57,8.57,0,1,1,60,68.567,8.57,8.57,0,0,1,51.428,60Z' transform='translate(-48 -48)' fill='%230058a4'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: calc(100% - 0.75rem) center !important;
  }
}

// Search contents
.search-content {
  box-shadow: 0px 3px 16px #00000029 !important;
  border-radius: 0.25rem !important;
  margin-bottom: 3rem;
}

.search-content-title {
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
}

.search-content-image {
  min-width: 300px;
  min-height: 300px;
}

.search-content-body {
  padding: 30px;
}

.search-content-link {
  font-weight: 700;
  text-decoration: none;
}

#effective-search-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  // background-color: #f8f9fc;
  opacity: 0;
  z-index: 8999;
  pointer-events: none;
  transition: opacity 0.35s ease;

  &.active {
    opacity: 0.5;
    pointer-events: auto;
  }
}

#effective-search-icon-form {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9000;
  height: 90px;
  border-bottom: solid 1px;

  &.collapsing {
    height: 90px !important;
    width: 100% !important;
    opacity: 0;
    transition: opacity 0.35s ease !important;
  }
}

#effective-search-icon {
  &:hover { cursor: pointer; }

  .eb-icon-search {
    height: 1.25rem;
    width:1.25rem;
    stroke-width: 3px;
    margin-bottom: 0;
  }
}


