%a.list-group-item.list-group-item-action{href: effective_memberships.edit_admin_applicant_path(applicant), title: applicant}
  %strong= applicant.owner
  %small.text-muted
    = applicant.summary_title
    &bull;
    = applicant.owner&.email
    &bull;
    = badge(applicant.status)
