= effective_form_with(scope: :q, model: search, method: :get, url: effective_search.admin_search_path) do |f|
  .row
    .col-lg-4
      = f.text_field :term, label: false, placeholder: 'Search', autofocus: true, class: "py-4 px-3 shadow-sm border-0"

  -# = f.save('Search', class: 'btn btn-primary btn-search mr-3', name: nil)
  -# = link_to 'Reset', request.path
