= effective_form_with(scope: :q, model: search, method: :get, url: effective_search.admin_search_path) do |f|
  = f.search_field :term, placeholder: 'Search', autofocus: true,
    'data-load-ajax-url': effective_search.admin_search_path,
    'data-load-ajax-div': '#effective-search-results'

