%div#admin-search-modal.modal.fade{tabindex: '-1', role: 'dialog', 'aria-labelledby': 'adminSearchModalLabel', 'aria-hidden': 'true', 'data-turbolinks-permanent': true}
  .modal-dialog.modal-lg{role: 'document'}
    .modal-content
      .modal-body
        - search = @search || EffectiveSearch.AdminSearch.new()
        = render('admin/search/search', search: search, modal: true)

  -# .modal-dialog.modal-lg{role: 'document'}
  -#   .modal-content
  -#     .modal-header.border-bottom-0
  -#       %h5#adminSearchModalLabel.modal-title
  -#         = icon('search')
  -#         Search
  -#       %button.close{type: 'button', data: { dismiss: 'modal' }, 'aria-label': 'Close'}
  -#         %span{'aria-hidden': 'true'} &times;

  -#     .modal-body
  -#       - search = @search || EffectiveSearch.AdminSearch.new()
  -#       = render('admin/search/search', search: search)
